* { box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}


/* LANDING PAGE */
/* Ensure the landing section takes 100% of the viewport height */
.landing {
  height: 100vh; /* 100% of viewport height */
  background-color: #eddfcb; /* Change the background color as needed */
  /* display: flex; */
  /* justify-content: center;
  align-items: center;
  text-align: center; */
}


/* REVIEWS SECTION */
.grid {
  margin: 0 auto;
  padding: 20px;
  max-width: 1500px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* Style for the review cards */
.grid-item {
  float: left;
  width: 300px;
  border: 1.5px solid #ccc; /* Border style */
  border-radius: 8px; /* Rounded corners */
  padding-left: 10px; /* Padding inside the card */
  padding-right: 10px; /* Padding inside the card */
  margin: 12px; /*Spacing between cards */
  background-color: #fff; /* Card background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift effect */
  
  
}

/* Style for the text inside the review cards */
.grid-item p {
  margin-bottom: 8px; 
}

/* .grid-sizer {
  width: calc(33.33% - 20px);
} */