* { box-sizing: border-box; }

/* Special for mobile */
@media all and (min-width: 1024px) and (max-width: 1580px) { 
	h1 {
		font-size: 2.3em !important;
	}

	h3 {
		font-size: 1.55em !important;
	}
	
	.landing-container {
		width: 77% !important;
	}
}

@media all and (min-width: 768px) and (max-width: 1024px) { 
	h1 {
		font-size: 2.0em !important;
	}

	h3 {
		font-size: 1.45em !important;
	}

	.landing-container {
		width: 75% !important;
	}
}

@media all and (min-width: 480px) and (max-width: 768px) { 
	h1 {
		font-size: 1.8em !important;
	}

	h3 {
		font-size: 1.25em !important;
	}

	.landing-container {
		width: 85% !important;
	}
}

@media all and (max-width: 480px) { 
	h1 {
		font-size: 1.5em !important;
	}

	h3 {
		font-size: 1.25em !important;
	}

	.landing-container {
		width: 90% !important;
	}
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: 'Archivo';
}

/* LANDING PAGE */
/* Ensure the landing section takes 100% of the viewport height */
.landing {
  /* height: 100vh;  */
  background-color: #eddfcb; /* Change the background color as needed */
  margin: 0 auto !important;
  line-height: 1.5 !important;
  
  /* margin: 0; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* display: flex; */
  /* justify-content: center;
  align-items: center;
  text-align: center; */
}

.landing-container {
  margin: 0 auto !important;
  padding-top:10px;
  padding-bottom:10px;
}

h2 {
  font-size:18px;
}

.landing p {
  font-weight:300 !important;
}

.chart-container {
  width: 100%;
  max-width: 35rem;
  padding: 0rem 0.5rem 0.5rem;
  /* border: 2px solid #a7a8aa;
  border-radius: 0.5rem; */
  margin: auto;
}

.chart {
  display: grid;
  grid-template-columns: auto;
  gap: .5em 0;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  grid-auto-columns: 1fr;
}

li {
  grid-column-start: 1;
  background: #61346b;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 0.5rem
}

/* .five-star-bar, .one-star-bar {
  background: #61346b;
} */

li span {
  font-weight: bold;
}


/* REVIEWS SECTION */
.reviews-container {
  /* position: relative; */
  margin: 0 auto !important;
  background-color: #FAF9F6;
}

.grid-container {
  
  
}

.grid {
  padding: 20px;
  max-width: 1500px;
  

}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* Style for the review cards */
.grid-item {
  font-family: 'Open Sans', sans-serif !important;
  float: left;
  width: 300px;
  /* border: 1.5px solid #ccc; */
  border-radius: 8px; /* Rounded corners */
  padding-left: 0px; /* Padding inside the card */
  padding-right: 0px; /* Padding inside the card */
  margin: 12px; /*Spacing between cards */
  background-color: #fff; /* Card background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift effect */
  
  
}

/* Styles for the text inside the review cards */
.grid-item p {
  /* margin-top: 8px;
  margin-bottom: 5px; */
}

.card-details {
  /* Styles for the top section */
  padding-top:5px;
  padding-left:12px;
  padding-right:12px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: #61346b; /* Grey background */
  /* padding: 20px; */
}

.card-name {
  /* Title styles */
  font-size: 18px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 0px;
  color: #ffffff;
}

.card-location-and-stars {
  /* Location styles */
  font-size: 16px;
  margin-top: 9px;
  margin-bottom: 0px;
  color: #ffffff;
}

/*  */

.card-categories {
  /* Categories styles */
  font-size: 14px;
  color: rgb(240, 236, 236);
  
  margin-top: 6px;
  margin-bottom: 0px;
  padding-bottom: 15px;
}

hr {
  border: none;
  height: 1px; /* Adjust the height as needed */
  background-color: #9d9c9c; /* Color of the line */

  margin: 0 auto;
}

.card-reviews {
  /* Styles for the top section */
  padding-top:5px;
  padding-left:12px;
  padding-right:12px;
  background-color: #eddfcb;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.card-text5StarHeading, .card-text1StarHeading {
  margin-top:10px;
  margin-bottom:10px;
  font-size: 14px;
  color: #333333
}

.filled-star {
  color: #61346b; /* Color for the filled star */
}

.empty-star {
  color: #a3a2a2; /* Color for the empty star */
}

.card-text1StarHeading {
  margin-top:15px;
}

.card-text5Star, .card-text1Star {
  margin-top: 3px;
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 1.4;
  color: #333333
}

.card-text1Star {
  padding-bottom:10px;
  margin-bottom: 0px;
}